extend base.pug
block content 
    .container.mt-1
        .row
            .col-6
                .card.text-light(style="background-color:#1bba1be8")
                    .card-body
                        h1.fs-1 {#{countDonor}}
                        p.fs-3.text-muted Total Donors 
                        .card-foater 
                            a.btn.btn-light.sm(href="/manageDonor").float-end View Doners
            .col-6
                .card.bg-warning.text-light
                    .card-body
                        h1.fs-1 {#{countRequest}}
                        p.fs-3.text-muted Total Requests 
                        .card-foater 
                            a.btn.btn-light.sm(href="/manageRequester").float-end View Requests
        .row.mt-3
            .col-3
                .row 
                    .col-12  
                        .card.my-2
                            .card-body.text-center.bg-info.text-dark(style="height:200px;").rounded    
                                a(href="/managedonor").fs-3.text-light(style="text-decoration:none") Bihar 
                                p.lead.mt-3 Total Doners: 
                                    span 4 
                                p.lead Total Requests: 
                                    span 8
            
                    .col-12  
                        .card.my-2
                            .card-body.text-center.bg-info.text-dark(style="height:200px;").rounded    
                                a(href="/managedonor").fs-3.text-light(style="text-decoration:none") Andhra Pradesh 
                                p.lead.mt-3 Total Doners: 
                                    span 4 
                                p.lead Total Requests: 
                                    span 8
            
                    .col-12  
                        .card.my-2
                            .card-body.text-center.bg-info.text-dark(style="height:200px;").rounded    
                                a(href="/managedonor").fs-3.text-light(style="text-decoration:none") Kerala 
                                p.lead.mt-3 Total Doners: 
                                    span 4 
                                p.lead Total Requests: 
                                    span 8
            .col-3 
                .row  
                    .col-12  
                        .card.my-2
                            .card-body.text-center.bg-primary.text-light(style="height:200px;").rounded 
                                a(href="/managedonor").fs-3.text-light(style="text-decoration:none") Chhattisgarh 
                                p.lead.mt-3 Total Doners: 
                                    span 4 
                                p.lead Total Requests: 
                                    span 8
            
                    .col-12  
                        .card.my-2
                            .card-body.text-center.bg-primary.text-light(style="height:200px;").rounded 
                                a(href="/managedonor").fs-3.text-light(style="text-decoration:none") Tripura 
                                p.lead.mt-3 Total Doners: 
                                    span 4 
                                p.lead Total Requests: 
                                    span 8
            
                    .col-12  
                        .card.my-2
                            .card-body.text-center.bg-primary.text-light(style="height:200px;").rounded 
                                a(href="/managedonor").fs-3.text-light(style="text-decoration:none") Uttar Pradesh 
                                p.lead.mt-3 Total Doners: 
                                    span 4 
                                p.lead Total Requests: 
                                    span 8
            
            
            .col-3
                .row 
                    .col-12  
                        .card.my-2
                            .card-body.text-center.bg-info.text-dark(style="height:200px;").rounded    
                                a(href="/managedonor").fs-3.text-light(style="text-decoration:none") Telangana  
                                p.lead.mt-3 Total Doners: 
                                    span 4 
                                p.lead Total Requests: 
                                    span 8
            
                    .col-12  
                        .card.my-2
                            .card-body.text-center.bg-info.text-dark(style="height:200px;").rounded    
                                a(href="/managedonor").fs-3.text-light(style="text-decoration:none") Goa 
                                p.lead.mt-3 Total Doners: 
                                    span 4 
                                p.lead Total Requests: 
                                    span 8
            
                    .col-12  
                        .card.my-2
                            .card-body.text-center.bg-info.text-dark(style="height:200px;").rounded    
                                a(href="/managedonor").fs-3.text-light(style="text-decoration:none") Gujarat 
                                p.lead.mt-3 Total Doners: 
                                    span 4 
                                p.lead Total Requests: 
                                    span 8
            .col-3 
                .row  
                    .col-12  
                        .card.my-2
                            .card-body.text-center.bg-primary.text-light(style="height:200px;").rounded 
                                a(href="/managedonor").fs-3.text-light(style="text-decoration:none") Haryana 
                                p.lead.mt-3 Total Doners: 
                                    span 4 
                                p.lead Total Requests: 
                                    span 8
            
                    .col-12  
                        .card.my-2
                            .card-body.text-center.bg-primary.text-light(style="height:200px;").rounded 
                                a(href="/managedonor").fs-3.text-light(style="text-decoration:none") Himachal Pradesh 
                                p.lead.mt-3 Total Doners: 
                                    span 4 
                                p.lead Total Requests: 
                                    span 8
            
                    .col-12  
                        .card.my-2
                            .card-body.text-center.bg-primary.text-light(style="height:200px;").rounded 
                                a(href="/managedonor").fs-3.text-light(style="text-decoration:none") Jharkhand 
                                p.lead.mt-3 Total Doners: 
                                    span 4 
                                p.lead Total Requests: 
                                    span 8
            
            